---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Main - paxzdev.xyz">
	<main class="flex items-center justify-center h-screen bg-gradient-to-t from-slate-900 to-blue-950">
	  <div class="text-center">
		<h1 class="text-white font-semibold text-3xl m-0.5">
		  Hey, I'm <span class="font-bold bg-gradient-to-r from-blue-600 via-blue-500 to-blue-400 inline-block text-transparent bg-clip-text ">Paxz</span>
		</h1>
		<p class="text-gray-300	text-md">An ambitious <span class="underline">front & backend</span> developer with a strong passion. <br><span class="text-xs text-gray-500"><span class="underline">5+ years experience</span> in coding specialized in <span class="underline">web-development.</span></span></p>
		<a
		class="m-3 inline-block rounded border  bg-gradient-to-r from-blue-600 via-blue-500 to-blue-400 px-12 py-3 text-sm font-semibold text-white"
		href="/contact/"
	  >
		Get In Touch
	  </a>
	  
	  </div>
	</main>
  </Layout>
  